<!doctype html>
<html>
  <head>
    <title>Dashboard</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-success">
      <div class="container">
        <span> FarmInven Dashboard </span>

        <a href="/logout" class="btn btn-light"> Logout </a>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="card p-5 shadow">
        <h1>Welcome {{session.fullname}}</h1>

        <br />

        Role: {{session.role}}
      </div>

      <a href="/products" class="btn btn-success mt-3"> Manage Inventory </a>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card p-4">
          <h4>⚠ Low Stock Alerts</h4>

          {% for item in lowStock %}

          <div class="alert alert-danger">
            {{item[1]}} only has {{item[3]}} stocks left
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="card p-4">
          <h4>📋 Recent Inventory Activity</h4>

          {% for log in recentLogs %}

          <div class="border p-2 mb-2 rounded">{{log[1]}}</div>

          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
